<div
  style="display:flex; flex-direction: column; justify-content: center; align-items: center;"
>
  <h2>Chat history</h2>
  <table id="chatHistoryTable"></table>
</div>
{{! TODO: needs to be replaced with ENV url }}
<script src="http://localhost:3000/js/convert/pdf">populateHTML();
  convertToPdf()
</script>