<html>
  <body>
    <div
      style="display:flex; flex-direction: column; justify-content: center; align-items: center;"
    >
      <h2>Vestlusajalugu</h2>
      <table id="chatHistoryTable" style="padding: 16px;">{{{table}}}</table>
    </div>
  </body>
</html>
